body {
    position: absolute;
    left: 10px;
    width: 1440px;
}
.header{
    position: sticky;
    z-index: 2;
    width: 1440px;
}
.beginning-header {
    width: 1440px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    background: #F0EEDD;

}

.text-header {
    position: absolute;
    width: 554px;
    height: 21px;
    left: calc(50% - 554px / 2);
    top: 3px;
    color: #670A18;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}

.end-header {
    position: absolute;
    width: 1440px;
    height: 82px;
    right: 0;
    top: 0;

}

.shop {

    position: absolute;
    height: 23px;
    left: 49px;
    right: 89.29%;
    top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;
    text-decoration: none;

}


.always-pan {
    position: absolute;
    height: 23px;
    right: 57.14%;
    left: 132px;
    top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;
    text-decoration: none;

}

.logo {
    position: absolute;
    right: 655px;
    top: 65px;
}

.mission {
    position: absolute;
    height: 23px;
    left: 1193px;
    top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;
    text-decoration: none;


}

.faqs {
    position: absolute;
    height: 23px;
    top: 70px;
    left: 1298px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;
    text-decoration: none;
}

.tip {
    position: absolute;
    height: 35px;
    top: 64px;
    left: 1358px;
}

.picture {
    position: relative;
    width: 1440px;
    height: 605px;
    top: 122px;
    background: url(../img/Rectangle.png);
    border-radius: 0;
}

.section2 {
    position: relative;
    width: 1440px;
    height: 312px;
}

.text {
    position: relative;
    width: 629px;
    height: 48px;
    left: calc(50% - 629px / 2 + 0.5px);
    top: 150px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #35312E;

}

.inside-the-picture {
    position: absolute;
    height: 265px;
    left: 26.62%;
    right: -4.63%;
    top: 169.89px;

}

.text1-section1 {
    position: absolute;
    height: 16px;
    left: -0.03%;
    right: 77.96%;
    top: -1.89px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #35312E;

}

.text2-section {
    position: absolute;
    height: 72px;
    left: -0.03%;
    right: 77.96%;
    top: 23.11px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 1px;
    color: #35312E;


}

.text2-section1 {
    position: absolute;
    height: 72px;
    left: -0.03%;
    right: 86.24%;
    top: 76.11px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 1px;
    text-decoration-line: underline;

    color: #35312E;

}

.button-section1 {
    border: 1px solid transparent;
    position: absolute;
    width: 248px;
    height: 60px;
    left: 0;
    top: 205px;
    background: #D37657;
    border-radius: 2px;
}

.text-in-button {
    position: absolute;
    width: 188px;
    height: 21px;
    left: calc(50% - 188px / 2);
    top: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.logo4 {
    position: absolute;
    left: 160px;
    top: 300px;
}

.section3 {
    position: relative;
    width: 1440px;
    height: 340px;
    top: 211px;
    background-color: #F5F1E9;

}

.text-in-section3 {
    display: flex;
}

.more-font {
    position: absolute;
    width: 400px;
    height: 93px;
    left: calc(50% - 400px / 2 - 385px);
    top: calc(50% - 93px / 2 + 10.7px);
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #35312E;

}

.small-font {
    position: absolute;
    height: 104px;
    left: 46.53%;
    right: 8.33%;
    top: calc(50% - 104px / 2 + 3.2px);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4F463F;

}

.section4 {
    position: relative;
    width: 1440px;
    height: 939px;
    padding-top: 330px;
}

.h1-section4 {
    position: relative;
    width: 564px;
    height: 48px;
    left: calc(50% - 564px / 2);
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    color: #35312E;
}

.circles-inside-the-section4 {
    justify-content: center;
}

.picture-section4 {
    position: relative;
    width: 562px;
    height: 553px;
    left: 512px;
    top: 246px;
    right: 0;
    background: url(../img/picture-section4.png);

}

.p-1 {
    position: relative;
    width: 135px;
    height: 31px;
    left: 380px;
    top: -250px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #6E6259;

}

.p-2 {

    position: absolute;
    width: 107px;
    height: 31px;
    left: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #6E6259;

}

.p-3 {
    position: absolute;
    width: 172px;
    height: 47px;
    left: 380px;
    top: 1130px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #6E6259;
}

.p-4 {
    position: absolute;
    width: 158px;
    height: 31px;
    left: 850px;
    top: 670px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #6E6259;

}

.p-5 {
    position: absolute;
    width: 171px;
    height: 31px;
    left: 900px;
    top: 1100px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #6E6259;

}

.p-6 {
    position: absolute;
    width: 160px;
    height: 16px;
    left: 850px;
    top: 950px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #6E6259;

}

.section5 {
    position: relative;
    height: 619px;
    left: 0;
    right: 0;
    background: #FBF6EA;
}

.text-h2-section5 {
    position: absolute;
    width: 477px;
    height: 111px;
    left: calc(50% - 477px / 2 + 0.5px);
    top: -6.42px;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 1.2px;
    color: #35312E;


}

.text-p-section5 {
    position: absolute;
    width: 441px;
    height: 58px;
    left: calc(50% - 441px / 2 + 0.5px);
    top: 122.58px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #4F463F;


}

.frame1 {
    position: absolute;
    height: 443.8px;
    left: 2.17%;
    top: 190px;

}

.picture-frame1 {
    position: absolute;
    width: 253px;
    height: 285px;
    left: 16px;
    background-image: url("../img/image 1.png");
}

.h2-frame1 {
    position: absolute;
    width: 110px;
    height: 24px;
    left: 85px;
    top: 260px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;


}

.text1-frame1 {
    position: absolute;
    width: 65px;
    height: 21px;
    left: 90px;
    top: 290px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;


}

.price-frame1 {
    position: absolute;
    width: 23px;
    height: 21px;
    left: 156px;
    top: 290px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;

}

.text2-frame1 {
    position: absolute;
    width: 161px;
    height: 59px;
    left: 62px;
    top: 320px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #6E635A;

}

.frame2 {
    position: absolute;
    height: 443.8px;
    left: 27.17%;
    right: 52.17%;
    top: 0;

}

.picture-frame2 {
    position: absolute;
    width: 253px;
    height: 284.43px;
    left: 16px;
    top: 180px;
    background-image: url("../img/image 2.png");
}

.h2-frame2 {
    position: absolute;
    width: 175px;
    height: 24px;
    left: calc(50% - 175px / 2 + 0.5px);
    top: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;


}

.text1-frame2 {
    position: absolute;
    width: 65px;
    height: 21px;
    left: calc(50% - 65px / 2 - 12.5px);
    top: 478px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;


}

.price-frame2 {
    position: absolute;
    width: 24px;
    height: 21px;
    left: calc(50% - 24px / 2 + 32px);
    top: 478px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;

    color: #6E635A;

}

.text2-frame2 {
    position: absolute;
    width: 181px;
    height: 79px;
    left: calc(50% - 181px / 2 - 0.5px);
    top: 505px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #6E635A;

}

.frame3 {
    position: absolute;
    height: 443.8px;
    left: 52.17%;
    right: 27.17%;

}

.picture-frame3 {
    position: absolute;
    width: 253px;
    height: 284.62px;
    left: 16px;
    top: 180px;

    background-image: url("../img/image 3.png");
}

.h2-frame3 {
    position: absolute;
    width: 120px;
    height: 24px;
    left: calc(50% - 120px / 2);
    top: 446px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;

}

.text1-frame3 {
    position: absolute;
    width: 65px;
    height: 21px;
    left: calc(50% - 65px / 2 - 12.5px);
    top: 476px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;


}

.price-frame3 {
    position: absolute;
    width: 24px;
    height: 21px;
    left: calc(50% - 24px / 2 + 32px);
    top: 476px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;

}

.text2-frame3 {
    position: absolute;
    width: 170px;
    height: 59px;
    left: calc(50% - 170px / 2);
    top: 510px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #6E635A;

}

.frame4 {

    position: absolute;
    height: 443.8px;
    left: 77.17%;
    right: 2.17%;
    top: 305px;

}

.picture-frame4 {
    position: absolute;
    width: 306px;
    height: 204px;
    left: 15px;
    top: -28px;
    background-image: url("../img/image 4.png");
}

.h2-frame4 {
    position: absolute;
    width: 116px;
    height: 24px;
    left: calc(50% - 116px / 2);
    top: calc(50% - 24px / 2 - 60.72px);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;

}

.price-frame4 {
    position: absolute;
    width: 29px;
    height: 21px;
    left: calc(50% - 29px / 2 - 0.5px);
    top: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;

}

.text2-frame4 {
    position: absolute;
    width: 184px;
    height: 79px;
    left: calc(50% - 184px / 2);
    top: calc(50% - 79px / 2 + 21.78px);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #6E635A;


}

.section6 {
    position: relative;
    height: 480px;
    left: 0;
    right: 0;

}

.picture1-section6 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 0;
    background-image: url("../img/section6-picture1.png");
    border-radius: 0;
}

.text-section6 {
    position: absolute;
    height: 480px;
    width: 480px;
    left: 33.33%;
    right: 33.33%;
    top: 0.22px;
    background: #eeb785;
}

.text1-section6 {
    position: absolute;
    width: 99px;
    height: 21px;
    left: 190px;
    top: 109px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #35312E;


}

.text2-section6 {
    position: absolute;
    width: 450px;
    height: 93px;
    left: 15px;
    top: 163px;
    right: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1px;

    color: #35312E;

}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
    top: 250px;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #b1a67a;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.button-p-section6 {
    position: absolute;
    width: 124px;
    height: 12px;
    left: calc(50% - 124px / 2);
    top: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #4F463F;


}

.picture2-section6 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 960px;
    right: 0;
    background-image: url("../img/section6..picture2.png");
    border-radius: 0;
}

 
footer {
    position: relative;
    height: 74px;
    left: 0;
    right: 0;
    top: 0;

    background: #807C62;
    border-radius: 0;
}

.the-first-word {
    position: absolute;
    height: 28px;
    left: 48px;
    top: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);
}

.word1 {
    position: absolute;
    height: 28px;
    left: 959px;
    right: 23.62%;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);


}

.word2 {
    position: absolute;
    height: 28px;
    left: 1086px;
    right: 0;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);


}

.word3 {
    position: absolute;
    height: 28px;
    left: 1164px;
    right: 0;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);

}

.word4 {
    position: absolute;
    height: 28px;
    left: 1232px;
    right: 0;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);

}

.box {
    position: relative;
    width: 80px;
    height: 20px;
    left: 1312px;
    right: 48px;
    top: 26px;

    background: #FCFAF6;
    border-radius: 5px;
}
